# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8
tab_width = 4
indent_style = space
indent_size = 4

[*.php]
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[.github/workflows/**.yml]
indent_size = 2
tab_width = 2